.img .img-center {
  display: block;
  margin: auto;
}
.img{
  padding: 5px;
  background-color: white;
}
.command{
  font-family: monospace;
}
.peque{
  font-size: 0.8em;
}
.mais-peque{
  font-size: 0.6em;
}
.azul{
  color:dodgerblue;
}
.command-br{
  font-family: monospace;
  font-size: 0.8em;
}
.desc{
  font-size: 0.7em;
}

.based{
  font-size: 0.5em;
}

.caption{
  margin-top: -30px;
}

.reveal em{
  color: coral;
}